<!-- <app-header></app-header> -->
<div class="row row-cols-1 row-cols-md-3" >
    <div class="col-mb-4" *ngFor="let card of genreData" ><br>


        <mat-card class="example-card" >
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title >{{card.genre}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{card.image}}"
                alt="Photo">
            <mat-card-content>

                {{card.about}}
            </mat-card-content>
           
        </mat-card>
    </div>
</div>